.nav {
    position: absolute;
    left: 0;
    z-index: 10;
    top: 44%;

    @media (max-width: 1280px) {
        height: fit-content;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        top: 63%;
        width: 13.125rem;
        height: 3.75rem;
        justify-content: space-between;
    }
    @media (max-width: 540px) {
        width: 9.5rem;
        height: 2.5rem;
        top: 52%;
    }

    & li {
        font-size: 2rem;
        display: grid;
        place-content: center;
        cursor: pointer;
        color: white;
        background-color: hsl(var(--dark-gray));
        border: 1px solid white;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;

        @media (max-width: 1280px) {
            width: 3.75rem;
            height: 3.75rem;
            font-size: 1.5rem;
        }
        @media (max-width: 540px) {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1rem;
        }

        &.active {
            color: hsl(var(--dark-gray));
            background-color: white;
        }
    }
}
