.nav {
    position: absolute;
    left: 0;
    z-index: 10;
    top: 44%;

    & li {
        font-size: 2rem;
        display: grid;
        place-content: center;
        cursor: pointer;
        color: white;
        background-color: hsl(var(--dark-gray));
        border: 1px solid white;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;

        &.active {
            color: hsl(var(--dark-gray));
            background-color: white;
        }
    }
}
