.crewNav {
    width: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1280px) {
        width: 8.25rem;
    }

    & li {
        aspect-ratio: 1;
        width: 10px;
        background-color: white;
        opacity: 0.16;
        border-radius: 50%;
        transition: opacity 150ms ease-in-out;
        cursor: pointer;

        @media (min-width: 1280px) {
            width: 15px;
        }

        @media (hover: hover) {
            &:not(.active):hover {
                opacity: 0.5;
            }
        }

        &.active {
            opacity: 1;
        }
    }
}
