.nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8.25rem;
    bottom: 5rem;
    z-index: 10;

    @media (max-width: 920px) {
        width: 5.5rem;
        top: 17.625rem;
        right: 43%;
        bottom: unset;
        transform: translateY(-50%);
    }

    @media (max-width: 504px) {
        right: 41%;
        top: 20rem;
    }

    & li {
        cursor: pointer;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: hsla(0, 0%, 100%, 0.17);
        transition: background-color 150ms;

        @media (max-width: 920px) {
            width: 10px;
            height: 10px;
        }

        &.active {
            background-color: white;
        }
        &:not(.active):hover {
            background-color: hsla(0, 0%, 100%, 0.5);
        }
    }
}
