.main {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
    color: white;

    h1 {
        display: inline-flex;
        font-size: 1.75rem;
        gap: 1.75rem;
        letter-spacing: 0.29531rem;
    }
}
