.main {
    background-image: url("/assets/technology/background-technology-desktop.jpg");
    color: white;

    @media (max-width: 768px) {
        background-image: url("/assets/technology/background-technology-tablet.jpg");
    }
    @media (max-width: 540px) {
        background-image: url("/assets/technology/background-technology-mobile.jpg");
        text-align: center;
    }

    & .title {
        display: inline-flex;
        font-size: 1.75rem;
        gap: 1.75rem;
        letter-spacing: 0.29531rem;
        @media (max-width: 1280px) {
            font-size: 1.25rem;
            letter-spacing: 0.21094rem;
            gap: 1rem;
            margin-bottom: 4rem;
        }
        @media (max-width: 540px) {
            font-size: 0.875rem;
            letter-spacing: 0.14763rem;
            margin-bottom: 1rem;
        }
    }
}

.swiper {
    position: initial !important;
}
