@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --dark-gray: 230deg 35% 7%;
        --dark-purple: 231deg 15% 26%;
        --light-purple: 231deg 77% 90%;
        --white: 0deg 0% 100%;
    }
}

body {
    overflow-x: hidden;
}

main {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
